@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2) format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  src("../fonts/robotomedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  width: 100%;
  height: auto;
}
