@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2) format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  src("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  min-width: 940px;
  width: 1200px;
  margin: 0 auto;
}

.content-wrapper {
  padding: 0 2.3%;

  outline: 1px solid yellow;//сетка
}

.page-header {
  display: flex;
  flex-wrap: wrap;

  padding-top: 9px;
}

.page-header__logo {
}

.page-header__logo-image {
  width: 154px;
  height: 64px;
}

.main-nav__list,
.sub-menu,
.user-menu,
.top-products,
.features__list,
.about,
.breadcrumbs,
.form-filter__list,
.pagination__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.main-nav {
  width: 60%;//690px;
  margin-right: 30px;
  margin-left: 10px;
  padding-top: 14px;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  display: flex;
}

.main-nav__item--catalog {
  position: relative;
}

.main-nav__link {
  padding: 6px 14px;
  padding-bottom: 8px;

  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;

  border-radius: 15px;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}



.sub-menu {
  position: absolute;
  top: 37px;
  left: -7px;

  box-sizing: border-box;
  display: none;

  background: #ffffff;
}

.main-nav__link--catalog:hover .sub-menu {
  display: block;
}

.sub-menu__item {
  display: flex;
}

.sub-menu__link {
  width: 100%;
  margin-bottom: 6px;
  padding: 6px 21px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;

  background-color: #ffffff
}

.sub-menu__link--group-title {
  font-weight: 700;
}

.user-menu {
  width: 23%;//262px;
}
